In [19]:
import pandas as pd
import numpy as np

In [20]:
#created a csv file with state/province, country/region, lat,long & imported it to python.

file="C:/Users/Asus/Desktop/Location.csv"

In [21]:
#each row in the Location.csv repeated for 60 times & output it as New_Location.csv.

output_file="C:/Users/Asus/Desktop/New_location.csv"

df=pd.read_csv(file).values
val=[]
for i in df:
    for x in range(60):
        val.append(i)
df2 = pd.DataFrame(val)
df2.to_csv(output_file,index=False)

In [22]:
#import Dates.csv.

file2="C:/Users/Asus/Desktop/Dates.csv"

In [23]:
#output it as each dates set repeat for 482 times.

output_file2="C:/Users/Asus/Desktop/New_Dates.csv"

df4=pd.read_csv(file2).values
val2=[]
for x in range(482):
    for i in df4:    
        val2.append(i)
df5 = pd.DataFrame(val2)
df5.to_csv(output_file2,index=False)

In [24]:
#import Confirm_data.csv which included the data of date columns with confirm patient count of each date

df3 = pd.read_csv('C:/Users/Asus/Desktop/Confirm_data.csv')

df3.head()

,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,...,3/12/2020,3/13/2020,3/14/2020,3/15/2020,3/16/2020,3/17/2020,3/18/2020,3/19/2020,3/20/2020,3/21/2020
0,2,3,5,7,8,8,14,14,14,19,...,70,75,82,114,147,177,212,272,322,411
1,2,1,2,2,4,4,7,7,11,15,...,639,701,773,839,825,878,889,924,963,1007
2,0,1,3,3,4,5,7,7,10,13,...,178,200,212,226,243,266,313,345,385,432
3,0,0,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,0,0,0,3,4,4,4,7,8,8,...,149,197,238,428,566,673,790,900,1030,1183

In [25]:
#transpose above columns into rows.

df_transpose=df3.T

df_transpose.head()

,0,1,2,3,4,5,6,7,8,9,...,472,473,474,475,476,477,478,479,480,481
1/22/2020,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/2020,3,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/2020,5,2,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/2020,7,2,3,1,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/26/2020,8,4,4,1,4,0,3,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
#print all 482 columns into a confirm data column

confirm_data_column=pd.Series(df_transpose.values.ravel('F'))
print(confirm_data_column)

0         2
1         3
2         5
3         7
4         8
5         8
6        14
7        14
8        14
9        19
10       19
11       19
12       19
13       25
14       25
15       25
16       25
17       32
18       32
19       32
20       33
21       33
22       33
23       33
24       33
25       34
26       35
27       35
28       35
29       35
         ..
28890     0
28891     0
28892     0
28893     0
28894     0
28895     0
28896     0
28897     0
28898     0
28899     0
28900     0
28901     0
28902     0
28903     0
28904     0
28905     0
28906     0
28907     0
28908     0
28909     0
28910     0
28911     0
28912     0
28913     0
28914     0
28915     0
28916     0
28917     0
28918     0
28919     1
Length: 28920, dtype: int64

In [27]:
output_file="C:/Users/Asus/Desktop/Confirm_New.csv"

confirm_data_column.to_csv(output_file,index=False)

C:\Users\Asus\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [28]:
#import Death_data.csv which included the data of date columns with death count of each date

df_d = pd.read_csv('C:/Users/Asus/Desktop/Death_data.csv')

df_d.head()

,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,...,3/12/2020,3/13/2020,3/14/2020,3/15/2020,3/16/2020,3/17/2020,3/18/2020,3/19/2020,3/20/2020,3/21/2020
0,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1,0,0,0,0,0,0,0,0,0,0,...,16,19,22,22,27,29,29,29,33,35
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,2,2,3,4

In [29]:
#transpose above columns into rows.

df_d_transpose=df_d.T

df_d_transpose.head()

,0,1,2,3,4,5,6,7,8,9,...,472,473,474,475,476,477,478,479,480,481
1/22/2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/26/2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
#print all 482 columns into a death data column

death_data_column=pd.Series(df_d_transpose.values.ravel('F'))
output_file="C:/Users/Asus/Desktop/Death_New.csv"

death_data_column.to_csv(output_file,index=False)

C:\Users\Asus\Anaconda2\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

In [31]:
#import Recover_data.csv which included the data of date columns with death count of each date

df_r = pd.read_csv('C:/Users/Asus/Desktop/Recover_data.csv')

df_r.head()

,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,...,3/12/2020,3/13/2020,3/14/2020,3/15/2020,3/16/2020,3/17/2020,3/18/2020,3/19/2020,3/20/2020,3/21/2020
0,0,0,0,0,2,2,5,5,5,5,...,34,35,35,35,35,41,42,42,42,42
1,0,0,0,0,1,1,1,1,1,1,...,118,118,118,118,144,144,144,150,191,232
2,0,0,0,0,0,0,0,0,0,0,...,96,97,105,105,109,114,114,114,124,140
3,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,0,0,0,0,0,0,0,0,0,0,...,26,26,35,42,42,49,60,75,87,114

In [32]:
#transpose above columns into rows.

df_r_transpose=df_r.T

df_r_transpose.head()

,0,1,2,3,4,5,6,7,8,9,...,472,473,474,475,476,477,478,479,480,481
1/22/2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/2020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/26/2020,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
#print all 482 columns into a recovered data column

recover_data_column=pd.Series(df_r_transpose.values.ravel('F'))
output_file="C:/Users/Asus/Desktop/Recovered_New.csv"

recover_data_column.to_csv(output_file,index=False)

C:\Users\Asus\Anaconda2\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

In [12]:
#import New_location.csv , New_Dates.csv , Confirm_New.csv , Death_New.csv & Recovered_New.csv to merge csv files.

data_l=pd.read_csv("C:/Users/Asus/Desktop/New_location.csv")
data_dd=pd.read_csv("C:/Users/Asus/Desktop/New_Dates.csv")
data_c=pd.read_csv("C:/Users/Asus/Desktop/Confirm_New.csv")
data_d=pd.read_csv("C:/Users/Asus/Desktop/Death_New.csv")
data_r=pd.read_csv("C:/Users/Asus/Desktop/Recovered_New.csv")

In [15]:
merge_data1 = pd.merge(data_l, data_dd, how='left')

output_file="C:/Users/Asus/Desktop/Merge_data1.csv"

merge_data1.to_csv(output_file,index=False)

In [16]:
merge_1=pd.read_csv("C:/Users/Asus/Desktop/Merge_data1.csv")

merge_data2 = pd.merge(merge_1, data_c, how='left')

output_file="C:/Users/Asus/Desktop/Merge_data2.csv"

merge_data2.to_csv(output_file,index=False)

In [17]:
merge_2=pd.read_csv("C:/Users/Asus/Desktop/Merge_data2.csv")

merge_data3 = pd.merge(merge_2, data_d, how='left')

output_file="C:/Users/Asus/Desktop/Merge_data3.csv"

merge_data3.to_csv(output_file,index=False)

In [18]:
merge_3=pd.read_csv("C:/Users/Asus/Desktop/Merge_data3.csv")

merge_data4 = pd.merge(merge_3, data_r, how='left')

output_file="C:/Users/Asus/Desktop/Final_COVID19.csv"

merge_data4.to_csv(output_file,index=False)